@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mt-2">
        @foreach (var product in Model)
        {
            <div>
            <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" style="text-decoration: none" >
                    <div class="card">
                        <img src=@product.ImageURL class="card-img-top" style="height: 16rem; object-fit: contain" alt="...">

                        <div class="card-body">
                            <p class="text-success"><i class="bi bi-tags-fill"></i> @product.Category.Name</p>
                            <h5 class="card-title fs-6 text-primary">@product.Title</h5>
                            <h5 class="fs-6 card-title text-muted fw-bold my-3"> @product.Price EGP</h5>
                            <a href="#" class="btn btn-primary w-100"> <i class="bi bi-cart-fill"></i> Add to cart</a>
                        </div>
                    </div>
             </a>
            </div>

        }
    </div>


    
</div>



<script>
    // Use event delegation to handle dynamically created buttons
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.desc').forEach((e) => {
            if (e.innerHTML.length > 100) {
            e.innerHTML = e.innerHTML.substring(0, 100) + '...';
            }
        })
    });
</script>