
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Giftify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Giftify.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow p-2">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Giftify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer"  asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer"  asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">Cart</a>
                        </li>
                      

                    </ul>
                    @if(User.IsInRole(Roles.ADMIN))
                    {
                        <li>
                            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Dashboard</a>
                        </li>
                    }

                        <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top:5em">
        <main role="main">
            <partial name="_Alert" />
            @RenderBody()
        </main>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Admin Dashboard</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
              <div class="d-flex flex-column gap-2">

                <a class="btn btn-warning text-light rounded" asp-area="Admin" asp-controller="Category" asp-action="Index">
                            <i class="bi bi-tag-fill"></i> Categories
                       </a>
                <a class="btn btn-warning text-light rounded" asp-area="Admin" asp-controller="Book" asp-action="Index">
                    <i class="bi bi-box-seam-fill"></i> Books
                </a>
                <a class="btn btn-warning text-light rounded" asp-area="Admin" asp-controller="Order" asp-action="Index">
                    <i class="bi bi-box-seam-fill"></i> Orders
                </a>
              </div>
        </div>
    </div>

@*     <footer class="border-top footer text-white bg-primary">
        <div class="container">
            &copy; 2024 - Giftify  <i class="bi bi-gift-fill"></i> - Mark Maher
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/8omwm2k55dw53tlrt1r1yi6n8fvvnosqjelfyjrcufof3h2t/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>

    <script>
        if (typeof jQuery !== 'undefined') {
            console.log("jQuery is loaded!");
        } else {
            console.error("jQuery is NOT loaded!");
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
